

@media screen {
  :root {
    --fg-1: #000;
    --bg-1: #fff;

    --fg-2: #444;
    --bg-2: #eee;

    --syntax-color--macro: #800;
    --syntax-color--command: #008;
    --syntax-color--attribute: #080;
  }
}

/*
@media screen and (prefers-color-scheme: dark) {
  :root {
    --fg-1: #fff;
    --bg-1: #222;
    --bg-2: #111;

    --syntax-color--macro: #800;
    --syntax-color--command: #008;
    --syntax-color--attribute: #080;
  }
}
*/

/* The following controls the high-level layout of the page's panels. */

#page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;

  display: flex;
  flex-direction: column;

}

header {
  flex-grow: 0;
}

#wrapper {
  flex-grow: 1;
  height: 0;
}

/* General Styling */

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: var(--bg-2);
  margin: 0px;
  overflow: hidden;
}

a:visited {
  color: blue;
}

.material-icons,
.material-icons--before::before,
.material-icons--after::after
{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

header {
  width: 100%;
  padding: 10px;
  color:  var(--fg-2);
  background: var(--bg-2);
  border-bottom: 1px solid var(--fg-2);
}

header > h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

#wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
}

#wrapper > main,
#wrapper > nav
{
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

#wrapper > nav {
  background: var(--bg-2);
  flex-grow: 0;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

#wrapper > nav > ul > li {
  font-weight: bold;
}

#wrapper > nav ul {
  list-style: none;
  padding-inline-start: 10px;
}

#wrapper > nav li a {
  text-decoration: none;
}

#wrapper > main {
  flex-grow: 1;
}

nav .nav-label {
  display: inline-block;
  width: 70px;
  font-size: 80%;
  font-weight: bold;
  color: #000;
}

nav a.nav-link {
  color: #444;
}

nav .nav-label.nav-label--macro {
  color: var(--syntax-color--macro);
}

nav .nav-label.nav-label--command {
  color: var(--syntax-color--command);
}

nav .nav-label.nav-label--attribute {
  color: var(--syntax-color--attribute);
}

main {
  width: 700px;
  background: var(--bg-1);
  color: var(--fg-1);
  padding: 1em 0.75in;
}

main h2 {
  border-bottom: 3px solid var(--fg-1);
}

h1, h2 {
  color: var(--fg-1);
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

h3, h4, h5, h6 {
  width: 75%;

  color: var(--fg-2);
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

section h2 {
    /*
      Specifies the sticky headers for documentation sections.
    */

    position: sticky;
    top: -80px;
    width: 100%;
    z-index: 1;
    height: 100px;
    background: #fff;
    display: flex;
    align-items: flex-end;
}

code {
  display: inline-block;
  padding-left:   8px;
  padding-right:  8px;
  background: #eee;
}

doc-ref, arg-ref {
  display: inline-block;
  padding-left:   3px;
  padding-right:  3px;
  border-radius:  5px;
}

doc-ref {
  background:     #eed;
}

doc-ref[data-invalid] {
  background:     #fee;
}

arg-ref {
  background:     #dee;
}

code.syntax-param {
  margin-left: 0.33em;
}

code, pre, doc-ref, arg-ref {
  font-family: 'Roboto Mono', 'Consolas', monospace;
}

pre {
  font-size: 90%;
}

code-block {
  font-family: 'Roboto Mono', 'Consolas', monospace;
  background: #eee;
}

code-block::shadow span.syntax--keyword {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table, th, tr, td {
  border: 1px solid var(--fg-2);
}

td {
  padding: 4px;
}

.topic {
    padding: 10px;
}

.topic:target {
    background: #ffd;
}

.topic h4 {
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}

.topic-type-label {
  color:        #666;
  font-weight:  normal;
  font-style:   italic;

  display: inline-block;
  width: 80px;

  text-align: right;
  padding-right: 5px;
}

.topic-type--macro h4 code {
  color: var(--syntax-color--macro);
}

.topic-type--command h4 code {
  color: var(--syntax-color--command);
}

.topic-type--attribute h4 code {
  color: var(--syntax-color--attribute);
}

.topic-details, .syntax-arguments, .syntax-note {
  margin-left: 2em;
  padding: 5px 12px;
}

.syntax-note {
  font-size: 80%;
  font-style: italic;
}

.syntax-note code {
  margin-inline-start: 0.25em;
}

.syntax-note.syntax-note--explicit {
  font-style: normal;
  font-weight: bold;
}

.syntax-note.syntax-note--critical {
  color: #a20;
  font-style: normal;
}

.syntax-note.syntax-note--critical p::before {
  content: "error_outline";
}

.syntax-note.syntax-note--new {
  color: #008;
}

.syntax-note.syntax-note--new p::before {
  content: "new_releases";
}

.syntax-note {
  position: relative;
}

.syntax-note.syntax-note--explicit p::before {
  vertical-align: top;
  display: block;
  position: absolute;
  font-size: 30px;
  left: -30px;
  top: 10px;
}

.syntax-arguments dt code {
  padding: 0.2em;
  margin-block-end: 0.4em;
  background: #eee;
  font-weight: bold;
  font-family: 'Roboto Mono', 'Consolas', monospace;
}

.syntax-arguments dd {
  margin-inline-start: 35px;
  padding-inline-start: 15px;
  border-left: 5px solid rgba(100, 0, 150, 0.2);
}

.argument--type {
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 90%;
  color: #405;
}

.argument--type .argument--type-domain {
  font-weight: normal;
}

.argument--type .type-range {
  margin-left: 20px;
}

.argument--default {
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 90%;
  color: #648;
}

.argument--details {
  color: #405;
  font-size: 90%;
}

.token--macro {
  color: var(--syntax-color--macro);
}

.token--command {
  color: var(--syntax-color--command);
}

.token--attribute {
  color: var(--syntax-color--attribute);
}
